@tailwind base;
@tailwind components;
@tailwind utilities;

.overX::-webkit-scrollbar {
   display: none;
}


.sub-menu {
   opacity: 0;
   visibility: hidden;
   transform: translateY(-10px);
   transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
}

/* Menampilkan sub-menu saat hover pada item menu */
.menu-item:hover .sub-menu,
.sub-menu:hover {
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
}